<footer class="footer">
    <a class="header__link" title="Cocina" href="./index.html">
        <h2 class="header__title">Concurso de cocina</h2>
    </a>
    <ul class="menu">
        <li class="menu__item"><a class="menu__item" href="./index.html"><b>Inicio</b></a></li>
        <li class="menu__item"><a class="menu__item" href="./chefs.html"><b>Jurado</b></a></li>
        <li class="menu__item"><a class="menu__item" href="./article.html"><b>Concurso</b></a></li>
        <li class="menu__item"><a class="menu__item" href="./inscripcion.html"><b>Inscripción</b></a></li>
    </ul>
    <ul id="social_netwoks" class="menu">
        <i class="bi bi-facebook"> <a class="social_network_link" href="https://www.facebook.com/?locale=es_ES"><b>Facebook</b></a></i>
        <span style="margin: 0 10px"></span>
        <i class="bi bi-instagram"> <a class="social_network_link" href="https://www.instagram.com/"><b>Instagram</b></a></i>
        <span style="margin: 0 10px"></span>
        <i class="bi bi-twitter"> <a class="social_network_link" href="https://twitter.com/?lang=es"><b>Twitter</b></a></i>
    </ul>
</footer>